body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Zarovnání na začátek */
    height: auto; /* Umožnění růstu obsahu podle výšky */
    margin: 0;
    background-color: #7CB9E8;
    padding-bottom: 0; /* Odebrání odsazení zespodu */
}

.container {
    position: relative;
    width: 80%;
    min-height: 80%; /* Dynamická výška podle obsahu */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: none; /* Odebrání spodního okraje */
    margin-bottom: 0; /* Zajištění, že bílé pozadí nekončí modře */
}

#goToStrana2 {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #218838;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

#goToStrana2:hover {
    background-color: #0056b3;
}

.search-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.search-container label {
    margin-right: 10px;
}

.search-container input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #000;
}

#searchBtn {
    padding: 5px 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #218838;
}

.content {
    margin-top: 60px;
}

.order {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    position: relative;
}

.order button {
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 12px;
}

.order button:nth-child(2) {
    background-color: #007bff;
    color: #fff;
}

.order button:nth-child(2):hover {
    background-color: #0056b3;
}

.order button:nth-child(3) {
    background-color: #28a745;
    color: #fff;
}

.order button:nth-child(3):hover {
    background-color: #218838;
}

.order button:nth-child(4) {
    background-color: #dc3545;
    color: #fff;
}

.order button:nth-child(4):hover {
    background-color: #c82333;
}



.legend {
  margin-bottom: 10px;
}
.legend-item {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  color: white;
  border-radius: 3px;
}
.legend-item:nth-child(1) {
  background-color: blue;
}
.legend-item:nth-child(2) {
  background-color: orange;
}
.legend-item:nth-child(3) {
  background-color: green;
}
